@import "node_modules/bourbon/app/assets/stylesheets/_bourbon"
@import "_vars.sass"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	body section.search .sisea-search-form input#search
		width: 65%
		
	header
		min-height: 600px
		.loginLogin
			padding-left: 0
		padding-bottom: 22px
	.navbar-default .navbar-collapse
		margin: 10px 0 0 0
	html p.log
		color: $gbf
		margin-bottom: 100px
		
	.loginLoginForm label
		display: block
	.loginLoginFieldset
		margin-left: 0
		input
			display: block
			width: 320px
			margin-left: 0
			margin-bottom: 15px
			margin-top: 4px
	.loginForm
		top: 280px
		height: 300px
		width: 300px
		margin: 0 auto
		position: relative
		z-index: 2

	.navbar .nav > li > a
		color: $gbf
		text-align: center
		padding-bottom: 11px
	.nav-collapse .nav
		background-color: $mc
		width: 100%
		top: 10px
	.navbar .nav >
		li > a:hover
			color: $white
			background-color: $gbf
		.active > a
			color: #fff
			background-color: $gbf
			&:hover, &:focus
				color: $white
				background-color: $gbf
	.navbar #navbar
		position: relative
		z-index: 400 
		.navbar-nav
			width: 100%
			z-index: 400
			position: relative
			background-color: $mc
			padding-bottom: 30px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px)
	.loginLogin
		button
			margin-right: 9px
	.loginForm
		width: 280px
	.loginLoginFieldset
		width: 250px
		a
			font-size: 0.8em
	.loginRegister span
		display: none
	.loginLoginFieldset
		input
			width: 250px
		span
			font-size: 0.9em
	header 
		.navbar-wrapper .loginLogin
			padding-left: 0

	.loginRegister 
		top: 10px
		button
			margin-top: 1px
	

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

