@import "node_modules/bourbon/app/assets/stylesheets/_bourbon"
@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px)
	nav.navbar-default 
		.navbar-nav li
			margin-left: 0
	header .header-menu
		.logo
			width: 245px
	section.carousels .loginForm
		width: 261px
		.forget
			width: 261px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	header .header-menu .logo
		width: 180px
		font-size: em(22px)
	nav.navbar-default 
		.navbar-nav 
			li
				margin-left: 0
				a
					font-size: em(16px)
	section.carousels .loginForm
		width: 210px
		.forget
			font-size: em(12px)
			width: 210px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.carousels .loginRegister
		margin-top: 10px
	body section.carousels .loginForm
		margin-top: 30px
		width: 70%
	nav.navbar-default
		.navbar-nav
			height: auto
			text-align: center
			float: none
			background-color: #fff
			border-bottom: 2px $mcb solid
			li
				margin-left: 0
	nav.navbar-default .navbar-nav>.active>a,
	nav.navbar-default .navbar-nav>.active>a:focus, 
	nav.navbar-default .navbar-nav>.active>a:hover
		color: $mcb
		border-bottom: 1px #333 solid
		border-top: 1px #333 solid
		text-shadow: none
	
	nav.navbar-default .navbar-nav li > a
		color: $sdgrey
		text-shadow: none
	nav.navbar-default .navbar-nav li > a:hover
		color: $mco
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px)
	body section.carousels .loginForm
		width: 210px
	

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

