@import "node_modules/bourbon/app/assets/stylesheets/_bourbon"
@import "vars"
@import "media"
h1
	font-size: em(36px)
	font-family: $ptsb
h2
	font-size: em(30px)
	font-family: $ptsb
h3
	font-size: em(24px)
	font-family: $ptsb

h4
	font-size: em(18px)
	font-family: $ptsb
h5
	font-size: em(14px)
	font-family: $ptsb
h6
	font-size: em(12px)
	font-family: $ptsb
a:hover
	text-decoration: none

html body
	font-family: $pts
	font-size: 1.6rem
	font-weight: normal
	line-height: 1.5em
	letter-spacing: -.015em
	color: $sdgrey
	background-color: $white
	border: none
	padding: 0
	margin: 0
	overflow-x: hidden

p.error
	color: $black
	margin-top: 4px

header
	position: fixed
	height: 7.8rem
	width: 100%
	background-color: $mcg
	background-image: url(../img/sunlight.png)
	background-position: center center
	background-size: 71px 304px
	background-repeat: repeat-x
	z-index: 50000
.header-menu
	.logo
		position: relative
		float: left
		display: block
		width: 320px
		font-family: $psbi
		z-index: 2
		line-height: 78px
		font-size: 3rem
		color: $white
		text-transform: uppercase
		margin-left: 15px
		margin-right: 15px
		text-shadow: -2px 2px 3px #000
	.col-lg-12
		padding-right: 0
		padding-left: 0
.navbar-default
	height: 78px
	margin-bottom: 0
	background-image: none
	border: none
	background-color: transparent
	.navbar-nav
		height: 78px
		padding-top: 15px
		float: right
		li
			margin-left: 55px
			a
				line-height: 38px
				font-size: 22px
				font-family: $psbi
				color: $white
nav.navbar-default .navbar-toggle
	background-color: $mcb
	margin-top: 25px
nav.navbar-default .navbar-toggle:focus, 
nav.navbar-default .navbar-toggle:hover
	background-color: $mco
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover
	background-image: none
	background-color: transparent
	box-shadow: none
.navbar-default .navbar-nav>li > a:before
	transition: 0.2s ease
	position: absolute
	height: 2px
	bottom: 0
	left: 0
	content: ''
	border-radius: 2px
	background-color: $white
	opacity: 1
	width: 0
	z-index: 2
.navbar-default .navbar-nav>li > a:hover:before,
.navbar-default .navbar-nav>li > a.active:before
	width: 100%	
.navbar-default .navbar-nav > .active > a:before,  
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
	width: 100%
section
	&.carousels
		position: relative
		top: 7.8rem
		height: 5000px





	
	
	



