@import "node_modules/bourbon/app/assets/stylesheets/_bourbon"
@import "vars"
@import "media"
h1
	font-size: em(36px)
	font-family: $ptsb
h2
	font-size: em(30px)
	font-family: $ptsb
h3
	font-size: em(24px)
	font-family: $ptsb

h4
	font-size: em(18px)
	font-family: $ptsb
h5
	font-size: em(14px)
	font-family: $ptsb
h6
	font-size: em(12px)
	font-family: $ptsb
a:hover
	text-decoration: none

html body
	font-family: $pts
	font-size: 16px
	font-weight: normal
	line-height: 1.5em
	letter-spacing: -.015em
	color: $sdgrey
	background-color: #fff
	border: none
	padding: 0
	margin: 0
	overflow-x: hidden
.loginLoginFieldset	
	input[type="text"],
	input[type="password"],
	textarea,
	button
		&:focus
			outline: none
		font-family: $pts
		font-size: 0.9em
		border: 1px solid #666
		vertical-align: middle
		line-height: 18px
		background-color: #fff
		padding: 9px 15px

p.error
	color: $black
	margin-top: 4px



	





	
	
	



