@import "node_modules/bourbon/app/assets/stylesheets/_bourbon"
@import "vars"
.center
	text-align: center

section
	&.carousels
		
		.carousel
			background-color: transparent
			background-image: none


.carousel .container
	position: relative
	z-index: 9

.carousel-control
	top: 0
	z-index: 1
	height: 100%
	font-size: 3.9em
	color: $white
	background-color: transparent
	padding-top: 120px
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4)
	border: 0
	

.carousel
	.item
		width: 100%
		height: 250px
	img
		position: relative
		width: 258px
		height: 250px
		margin: 0 auto
section
	&.about
		position: relative
		top: 7.8rem
		padding-bottom: 30px
	&.search
		position: relative
		top: 7.8rem
		border-top: 1px $black dashed
		border-bottom: 1px $black dashed
		padding: 10px 0
		margin-bottom: 30px
		background-color: $mco
		.fa-search
			margin-right: 7px
		button
			line-height: 26px
		input#search
			width: 70%
			float: left
			margin-right: 15px
			padding: 1px 15px
	&.hal
		position: relative
		top: 7.8rem
		background-color: $seb
		margin-bottom: 30px
		img
			margin-top: 15px
			margin-left: auto
			margin-right: auto
			display: block
	&#contact
		position: relative
		top: 7.8rem
		padding: 30px 0
		border-top: 3px $white dashed
		background-color: #222
		label
			font-family: $psbi
			color: $white
	&.carousels
		position: relative
		top: 7.8rem
		background-color: $mcb
		opacity: 1
		background-image: url(../img/sun.png)
		background-position: top center
		background-repeat: repeat-x
		background-size: 560px 560px
		padding-bottom: 50px
		padding-top: 50px
		border-bottom: 2px $mcb solid
		h1
			color: $white
			text-shadow: 3px 2px 5px #000
			text-align: center
			margin-bottom: 30px
		p
			font-size: em(18px)
			color: $white
			text-shadow: 1px 1px 0px #000
		&.sticky
			top: 3.5rem
			
	
			
	.loginRegister
		margin-top: 70px
		button.out
			width: 100%
			height: 35px
		p
			margin-top: 20px
		b
			color: $mco
			text-shadow: 1px 1px 0px #000
.loginForm
	width: 260px
	height: 100%
	margin-left: auto
	margin-right: auto
	margin-top: 8px
	position: relative
	top: 50%
	bottom: 50%
	button
		display: block
		width: 100%
	input
		display: block
		width: 100%
		font-family: $psbi
		padding: 0 15px
	label
		display: block
	.forget
		border: 1px #fff dashed
		margin-top: 15px
		padding: 5px 15px
		width: 261px
		.left
			float: left
			margin-right: 15px
		.right
			margin-left: 15px
		a
			color: $white
			
			&:hover
				color: $mco
.photo1, .photo2, .photo3 
	position: relative
	z-index: 1
	&:hover
		background-color: $seb
		background-image: none
		position: relative
		h3
			padding-top: 50%
			opacity: 1
			color: #192626
			transition: all .5s ease
		h5
			opacity: 1
			color: #192626
			transition: all .5s ease
			
	&::after
		z-index: 1
		display: block
		content: ""
		width: 200px
		height: 266px
		position: absolute
		top: 0
		left: 0
		text-align: center
		opacity: 0
		
	h3, h5
		opacity: 0

.photo1
	background-image: url(../img/platonov.jpg) 
	background-size: 200px 266px
	width: 200px
	height: 266px
	margin: 0 auto
	position: relative
	z-index: 1
	transition: all 1s ease
	box-shadow: -2px 2px 11px 4px rgba(0, 0, 0, 0.5)
.photo2
	background-image: url(../img/Kaidalov.jpg) 
	background-size: 200px 266px
	width: 200px
	height: 266px
	margin: 0 auto
	position: relative
	z-index: 1
	transition: all 1s ease
	box-shadow: -2px 2px 11px 4px rgba(0, 0, 0, 0.5)
.photo3
	background-image: url(../img/Polyakova.jpg) 
	background-size: 200px 266px
	width: 200px
	height: 266px
	margin: 0 auto
	position: relative
	z-index: 1
	transition: all 1s ease
	box-shadow: -2px 2px 11px 4px rgba(0, 0, 0, 0.5)
p.log
	text-align: center
	position: relative
	top: 142px
	font-size: em(22px)
	color: red
	padding: 0 20px	